<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Mute8</Name>
    <Title>Mute8</Title>
    <Version>1.0.0</Version>
    <Publisher>pezcode</Publisher>
    <ProductUrl>http://pezcode.github.com/mute8/</ProductUrl>
    <InstallerApplicationIcon>app</InstallerApplicationIcon>
    <StartMenuDir>pezcode</StartMenuDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <TargetDir>@HomeDir@/mute8</TargetDir>
    <AdminTargetDir>@RootDir@/mute8</AdminTargetDir>
</Installer>
